.App {
  text-align: center;
}

.data {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  color: lightblue;
  background: rgba(0, 4, 255, 0.1);
  border: 4px solid lightblue;
  font-weight: bold;
}

.link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(127, 127, 127, 0.2);
  color: white;
}

.infoVideo {
  position: absolute;
  top: 40%;
  left: 40%;
}

.nextButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
